
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


body{
  font-family: 'Roboto', sans-serif;
  background-color: #fcfcfc;
}



/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --first-color: #069C54;
  --first-color-alt: #048654;
  --title-color: #393939;
  --text-color: #707070;
  --text-color-light: #A6A6A6;
  --body-color: #FBFEFD;
  --container-color: #FFFFFF;

  /*========== Font and typography ==========*/
  --body-font: 'Rubik', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 768px){
  :root{
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*========== BASE ==========*/
*,::before,::after{
  box-sizing: border-box;
}



/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.topnav {
  overflow: hidden;
 background-image: linear-gradient(to right, #f3fce6, #f7fbe9);
   position: fixed; /* Set the navbar to fixed position */
 top:0;
  width: 100%;
  z-index: 1000;
  
}

.wimg img{
  width:150px;
   display: inline-block;
  margin-top:0px !important;
}

.loginstuff .exr{
  display:none;
}
.topnav a {
  float: left;
  display: block;
  color: #394455;
  transition: color .3s;
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
  
  font-family: 'Mulish', sans-serif;
  text-decoration: none;
  font-size: 16px;
  
}

.loginstuff{
  float: right;
}
.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  color: #394455;
    font-weight: 200 !important;

}
.logo{
  float: left;
}
.dropdown .dropbtn {
  font-size: 16px;   
  border: none;
  outline: none;
  color: #394455;
  padding-top: 20px;
  padding-left: 20px;
  background-color: inherit;
  font-family: 'Mulish', sans-serif;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  max-width: 300px;
  
  color: #394455;
  z-index: 1000;
}

.dropdown-content a {
  float: none;
  color: black;
  color: #4b4e54;

  padding-top: 20px;
  padding-right: 20px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
   text-decoration: none;
  color: #32b3a3;
}

.dropdown-content a:hover {
  text-decoration: none;
  color: #32b3a3;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .logo {
    display: none;
  }
  
  
}

@media screen and (max-width: 1200px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  
 
  .topnav a.icon {
    float: right;
    display: block;
  }
  
  .topnav.responsive .loginstuff .exr{
  display:none;
}
  

}

@media screen and (max-width: 1200px) {
  .topnav.responsive {position: fixed;}

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .loginstuff .exr{
  display:block;
}
  
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  
  .topnav{
    position: fixed;
  }
  
   .loginstuff{
  float: left;
}
  
}






/* ==================================================
      Pop Up
================================================== */


:root {
  --modal-duration: 1s;
  --modal-color: #428bca;
}

 .butt {
  font-family: 'Mulish', sans-serif;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid gray;

    color: gray;
   background-color: #f7fbe9;
  }

   .butt:hover {
    background: #0eb0a5;
    border: 2px solid #0eb0a5;
    text-decoration: none;
    color:#fff;
  }

#my-modal{
  display: none;
  width: 40%;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  top: 15%;
  left: 30%;   
  max-height: calc(100vh - 160px);
    overflow-y: auto;
}


@media screen and (max-width: 800px) {
  #my-modal{
  display: none;
  width: 60%;
  left: 20%;
  
    
}



   #modal-btn:hover {
    background: #0eb0a5;
    border: 2px solid #0eb0a5;
    text-decoration: none;
    color:#fff;
  }


  

}
.modal-body h2{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #4f4f4f;
}

.modal-body p{
  font-family: 'Noto sans', sans-serif;
  color: #6e6e6e;
  font-size: 14px;
  line-height: 30px;
  margin-left: 9%;
  width: 80%;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.back{
  background-color: rgba(0,0,0,0.4);
}
.darkback{
  width: 100%;
  height: 100%;
  background-color: red;
}

.close{
  cursor: pointer;
  color: blue;
  font-size: 20px;
}


@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.form p{
    font-size: 15px;
    padding: 1px;
    text-align: center;
}
.form input{
    outline: 0;
    border-radius: 10px;
    background: #F2F2F2;
    border: 0;
    width: 80%;
    display: block;
     margin-left: 9%;
  margin-bottom: 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
}
.form input:hover{
    background-color: #D3F8F9;
    transition: all 1s ease 0s;
}
.form input:focus{
    background-color: #D3F8F9;
    transition: all 1s ease 0s;
}


.form .message{
    margin: 15px 0 0;
    color: #B3B3B3;
    font-size: 12px;
}
.form .message a{
    color: #06C5CF;
    text-decoration: none;
}
      

.form button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 1px;
    display: block;
    margin: 0 auto;
    padding: 8px 28px;
    border-radius: 50px;
  margin-bottom: 40px;
    transition: 0.5s;
    width: 55%;
    text-align: center;
    color: white;
    background: #0eb0a5;
    border: 2px solid #0eb0a5;
  }

.form button:hover {
    background: #504136;
    border: 2px solid #504136;
    text-decoration: none;
    color:#fff;
  }









/*========== LAYOUT ==========*/
.bd-container{
  max-width: 960px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.bd-grid{
  display: grid;
  gap: 1.5rem;
}

.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}


html{
  scroll-behavior: smooth;
}


/*========== HOME ==========*/

.home{
  background-color: white;
  
}
.home__container{
  height: calc(100vh - var(--header-height));
  align-content: center;
  font-family: 'Roboto', sans-serif;
  
}

.home__title{
  font-size: var(--biggest-font-size);
  color: #2bcfc9;
  margin-bottom: var(--mb-1);
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.home__subtitle{
  font-size: var(--h1-font-size);
  color: var(--title-color);
  font-family: 'Roboto', sans-serif;
  margin-bottom: var(--mb-4);
}

.home__img{
  width: 300px;
  justify-self: center;
}

/*========== BUTTONS ==========*/
.button{
  display: inline-block;
  background-color: #2bcfc9;
  color: #FFF;
  padding: .75rem 1rem;
  border-radius: .5rem;
  font-family: 'Roboto', sans-serif;
  transition: .3s;
}

.button:hover{
  background-color: #3aa6a2;
  text-decoration: none;
  color: #FFF;
}

/*========== ABOUT ==========*/
.about__data{
  text-align: center;
}

.about__description{
  margin-bottom: var(--mb-3);
}

.about__img{
  width: 280px;
  border-radius: .5rem;
  justify-self: center;
}


/*========== MEDIA QUERIES ==========*/
@media screen and (min-width: 576px){
  .home__container,
  .about__container,
  .app__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
  }

  .about__data, .about__initial,
  .app__data, .app__initial,
  .contact__container, .contact__initial{
    text-align: initial;
  }

  .about__img, .app__img{
    width: 380px;
    order: -1;
  }

  .contact__container{
    grid-template-columns: 1.75fr 1fr;
    align-items: center;
  }
  .contact__button{
    justify-self: center;
  }
}

@media screen and (min-width: 768px){
  body{
    margin: 0;
  }

  .section{
    padding-top: 8rem;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list{
    display: flex;
  }
  .nav__item{
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }
  .nav__toggle{
    display: none;
  }

  .change-theme{
    position: initial;
    margin-left: var(--mb-2);
  }

  .home__container{
    height: 100vh;
    justify-items: center;
  }

  .services__container,
  .menu__container{
    margin-top: var(--mb-6);
  }

  .menu__container{
    grid-template-columns: repeat(3, 210px);
    column-gap: 4rem;
  }
  .menu__content{
    padding: 1.5rem;
  }
  .menu__img{
    width: 130px;
  }

  .app__store{
    margin: 0 var(--mb-1) 0 0;
  }
}

@media screen and (min-width: 960px){
  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }

  .home__img{
    width: 500px;
  }

  .about__container,
  .app__container{
    column-gap: 7rem;
  }
}







/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 80vh;
    background: url("https://cdn.glitch.com/fe9ee492-4350-4c23-91a3-7de989bb85f5%2Funnamed.jpg?v=1612137489174") center center;
    background-size: cover;
    position: relative;

  }

  #hero .container {
    padding-top: 10px;
  }

#hero .video-head{
  padding-bottom: 70px;
  margin-left: 80px;
}
#hero img{
  width: 50%;
  margin-left: 300px;
  z-index: 99;
  margin-top: 450px;

}

.custom-shape-divider-bottom-1611382091 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1611382091 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 194px;
}

.custom-shape-divider-bottom-1611382091 .shape-fill {
    fill: #FCFCFC;
}
  #hero:before {
    content: "";

    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: #24262b;
  }

#hero span {
    color: #1bf7ce;
}


  #hero h2 {
    color: #24262b;
    margin-bottom: 40px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  .main-btn {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #24262b;
    color: #24262b;
  }

   .main-btn:hover {
    background: #11dbcf;
    border: 2px solid #11dbcf;
    text-decoration: none;
    color:#fff;
  }



.custom-shape-divider-bottom-1612574261 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1612574261 svg {
    position: relative;
    display: block;
    width: calc(125% + 1.3px);
    height: 117px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1612574261 .shape-fill {
    fill: #FCFCFC;
}

/* ==================================================
      Services Details Section
================================================== */

#servicedetails{
  background-color: #fcfcfc;
  margin-top: -40px;
  padding-left: 2vh;
}

#authentictext .smallblurb{
  letter-spacing: .2em;
  color: #eda137;
}

#authentictext{
  display: block;
  text-align: center;

  grid-area: content;
  padding-left: 40vh;
  padding-right: 10vh;
  text-align: left;
  align-self: center;

}



#authentictext h2{
  padding-bottom: 10px;
 
  font-family: 'Roboto', sans-serif;
}

#authentictext p{
  font-family: 'Mulish', sans-serif;
  line-height: 2em;
  color: #6e6d6d;
  width: 70%;
}


@media (max-width: 1200px) {
  h2::before{
    content: none;
  }

  #left{
    display: none;
  }

  #authentictext{
    padding-top: 40px;
    text-align: center;
  }

}

.content-table {
  border-collapse: collapse;
  margin-left: 300px;
  width: 300px;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;

}


.content-table td {
  padding: 20px 15px;
  

}


.content-table2 {
  border-collapse: collapse;
  margin-left: 60px;
  width: 300px;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}


.content-table2 td {
  padding: 20px 15px;

}

.content-table3 {
  border-collapse: collapse;
  margin-left: 60px;
  width: 300px;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}


.content-table3 td {
  padding: 20px 15px;

}

#tables{
  padding-top: 10px;
  margin-left: 130px;
  margin-right: 50px;
}

#tables img{
  width:80px;
}


/* ==================================================
      Services Details Section
================================================== */

#servicedetails{
  background-color: #fcfcfc;
  padding-top: -20px;
}
#left img{
  width: 100%;
  margin-left: 0px;
  padding-right: 70px;
}


#authentictext .smallblurb{
  letter-spacing: .2em;
  color: #eda137;
}

#authentictext{
  display: block;
  text-align: center;

  grid-area: content;
  padding-left: 30vh;
  padding-right: 10vh;
  text-align: left;
  align-self: center;

}



#authentictext h2{
  padding-bottom: 10px;
  font-weight:600;
  font-family: 'Roboto', sans-serif;
}

#authentictext p{
  font-family: 'Mulish', sans-serif;
  line-height: 2em;
  color: #6e6d6d;

}


@media (max-width: 1200px) {
  h2::before{
    content: none;
  }

  #left{
    display: none;
  }

  #authentictext{
    padding-top: 40px;
    text-align: center;
  }

}

.content-table {
  border-collapse: collapse;
  margin-left: 300px;
  width: 300px;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;

}


.content-table td {
  padding: 20px 15px;

}


.content-table2 {
  border-collapse: collapse;
  margin-left: 60px;
  width: 300px;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}


.content-table2 td {
  padding: 20px 15px;

}

.content-table3 {
  border-collapse: collapse;
  margin-left: 60px;
  width: 300px;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}


.content-table3 td {
  padding: 20px 15px;

}

#tables{
  padding-top: 50px;
  margin-left: 130px;
  margin-right: 50px;
}

#tables img{
  width:80px;
}


/* ==================================================
      Video Info Section
================================================== */

.videoinfo{
  align-items: center;
  display: block;
  text-align: center;
  background-color: #fcfcfc;
  padding-top: 150px;

}

.video-blurb h2{
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 600;
 
}

.video-blurb p{
  font-size: 17px;
  margin-left: 300px;
  margin-right: 300px;
  justify-content:center;
  padding-bottom: 50px;
  margin-top: 20px;
  line-height:35px;
  font-family: 'Mulish', sans-serif;
} 

.video-info p{
  width: 50%;
   margin: auto;

  padding: 10px;
  font-family: 'Mulish', sans-serif;
  line-height: 2em;
  color: #6e6d6d;
}

.video-info h1{
   padding-bottom: 10px;
  font-weight:600;
  color: #c42ed1;
  font-family: 'Roboto', sans-serif;
}

.second-btn {
   font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #11dbcf;
    color: #11dbcf;
  }

   .second-btn:hover {
    background: #11dbcf;
    border: 2px solid #11dbcf;
    text-decoration: none;
    color:#fff;
  }






  /* ==================================================
    Services Section
    ================================================== */

    .services{
    	width:100%;
      margin-top: -30px;
      padding-bottom: 170px;
    	height: 100vh;
    	display: flex;
    	flex-direction: column;
      background-color: #fcfcfc;
    	justify-content: space-evenly;
    	align-items: center;
    }
    .s-heading{
    	text-align:center;
    }
    .s-heading h1{
    	color: #333436;
    	font-size: 3rem;
      font-family: 'Roboto', sans-serif;
    	letter-spacing: 1px;
    	margin-top: .3vh;
    }
    .s-heading p{
    	color: #333436;
    	font-size: 1rem;
      font-family: 'Roboto', sans-serif;
    	margin-top: 2em;
      margin-left: 20em;
      margin-right: 20em;
      line-height: 2em;
      color: #6e6d6d;
    	text-align: center;
    }
    .s-box-container{
    	width:100%;
    	display: flex;
    	justify-content: center;
    	align-items: center;
    }
    .s-box{
    	display:flex;
    	flex-direction: column;

    	border-radius: 10px;
    	width:300px;
    	padding: 30px 35px;
    	height: 530px;
    	box-sizing: border-box;
      background-color: white;
      border-radius: 30px 30px 30px 30px;
    	margin: 30px;
    	position: relative;
    }
    .s-box img{
    	height: 120px;
      width: 80px;
      padding-bottom: 10px;
    }
    .s-box h1{
    	color: #333436;
    	font-size: 1.5rem;
    	margin-bottom: 8px;
      text-align: left;
      font-family: 'Roboto', sans-serif;

    }
    .s-box p{
    	color: #333436;
    	text-align: left;
      font-family: 'Mulish', sans-serif;
      line-height: 2em;
      color: #6e6d6d;

      margin-top: 1em;
      font-size: .9em;
    }

    .s-btn{
    	width: 140px;
    	height: 40px;
    	border-radius: 20px;
    	border:.15em solid #3b92e3;
    	display: flex;
    	justify-content: center;
    	align-items: center;
    	color: #3b92e3;
    	margin-top:10px;
      font-family: 'Roboto', sans-serif;
    }
    .bar{
    	width: 100px;
    	height: 6px;
    	position: absolute;
    	left: 50%;
    	top: 0%;
    	transform: translateX(-50%);
    	background-color:#4a90e2;
    	border-radius: 50px 50px 50px 50px;
    	display: none;
    	animation: bar 0.5s;
    }
    .s-box:hover{
    	box-shadow: 2px 2px 30px rgba(0,0,0,0.08);
    	transition: all ease 0.3s;
    }
    .s-btn:hover{
    	background-color:#4a90e2;
    	border: 1px solid #4a90e2;
    	color:#FFFFFF;
    	transition: all ease 0.3s;
    }
    .s-box:hover .bar{
    	display: block;
    }
    @keyframes bar{
    	0%{
    		width:0px;
    	}
    	100%{
    		width:100px;
    	}
    }
    @media(max-width:1050px){
    	.s-box-container{
    		flex-wrap: wrap;

    	}
    	.services{
    		height: auto;
    	}
    	.s-heading{
    		margin: 15px;
    	}
    	.s-box{
    		flex-grow: 1;
    	}

    }





/* ==================================================
      Footer
================================================== */
.bottomfooter{
  background-color: #fcfcfc;
}
.container{
	max-width: 1170px;
	margin:auto;
  
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}


/* ==================================================
      Accordion Content
================================================== */

.accordion1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 50px;
}

h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
}

.accordion {
  width: 50%;
  max-width: 1000px;
  margin: 2rem auto;
}
.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.accordion-head{
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-head::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}

.accordion-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-content {
  padding: 1rem;
  line-height: 1.5rem;
}

@media(max-width:767px) {
  html {
    font-size: 14px;
  }
}





/* ==================================================
      Tabs
================================================== */



.tabs {
    background: #fcfcfc;
    font-family: 'Roboto', sans-serif;
}
.mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    font-family: 'Mulish', sans-serif;
  line-height: 36px;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 25px;
}

.mytabs input[type="radio"] {
    display: none;
}
.mytabs label {
    padding: 25px;
    background: #fff5d9;
    color:#ffc375;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.mytabs .tab {
    width: 100%;
    padding: 40px;
  margin-top: -20px;
  background: #fff;
    border-radius: 10px;
    order: 1;
    display: none;
}
.mytabs .tab h2 {
    font-size: 3em;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
  cursor: pointer;
}

.mytabs input[type="radio"]:checked + label {
    background: #fff;
    cursor: pointer;
}






/* ==================================================
      Text Info
================================================== */

.textinfo{
  background-color: white;
  margin-top:-80px;
}

#lefttext h2{
  margin-left: 20%;
    
}


#lefttext p{
  width: 70%;
    
}


#lefttext h2{
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 600;
 
}

#lefttext p{
  font-size: 17px;
  margin-left: 20%;
  margin-right: 300px;
  justify-content:center;
  padding-bottom: 50px;
  margin-top: 20px;
  line-height:35px;
  font-family: 'Mulish', sans-serif;
} 


.rightimage{
 background-color: white;
  
}
.image{
  background-color: white;
}








/* ==================================================
      Video Information Section
================================================== */

.videoinfo{
  background-color: #fcfcfc;
  padding-top: 100px;
  padding-bottom: 100px;
}

#videoitem{
  background-color: #fcfcfc;
  margin-left: 120px;
  margin-right: -200px;
  margin-top: 15px;
}

.video-blurb{
  text-align: center;
}

.video-blurb h2{
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 600;
}

.video-blurb p{
  font-size: 17px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1.5em;
  line-height:2em;
  font-family: 'Mulish', sans-serif;
} 



.video-table{
  background: white;
  
  border-radius: 14px;

  width: 50%;
  max-width: 1000px;
  margin: 25px;
}
#video-vid {
  
 
  position: relative; 
  padding-bottom: 25% ;
  height:0;

  
}

#video-vid iframe{
  
 
  top: 0;
  left 0;
  
  width:100%;

}




.video-table td {
  padding: 24px 15px;
  font-family: 'Mulish', sans-serif;
  line-height: 2em;
  color: #6e6d6d;
  font-size: 14px;
  

}


.video-table td h1 {
  font-family: 'Roboto', sans-serif;
  line-height: 1em;
  color: #eda318;
  font-size: 17px;
  letter-spacing: 1px;

}


.video-table img{
  width: 75px;
  margin-bottom:30px;
}










/* ==================================================
      Text Info
================================================== */

.textinfo{
  background-color: #fcfcfc;
  padding-top: 200px;
}

#lefttext h2{
  margin-left: 20%;
    
}


#lefttext p{
  width: 70%;
    
}


#lefttext h2{
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 600;
 
}

#lefttext p{
  font-size: 17px;
  margin-left: 20%;
  margin-right: 300px;
  justify-content:center;
  padding-bottom: 50px;
  margin-top: 20px;
  line-height:35px;
  font-family: 'Mulish', sans-serif;
} 


#rightimage{
 text-align:center;
}










.test2-heading{
    	text-align:center;
  background-color: #fcfcfc;
  padding-top: 150px;
  margin-bottom: -120px;
  
  
    }
    .test2-heading h1{
    	color: #333436;
    	font-size: 3rem;
  
      font-family: 'Roboto', sans-serif;
    	letter-spacing: 1px;
 
    }




.surr{
  background-color: #fcfcfc;
   padding-top: 120px;
  padding-bottom: 60px;
}



 .blogpage{
    width: 80%;
   background-color: white;
   padding-left: 5vw;
   padding-top: 60px;
   padding-bottom: 10px;
   padding-right: 5vw;
   margin-left: 10vw;
   
     font-family: 'Mulish', sans-serif;


  }
  
    .blogpage h1{
      font-family: 'Mulish', sans-serif;
text-align: left;
      padding-bottom: 20px;

    }
    
    .blogpage h3{
      font-family: 'Mulish', sans-serif;
      padding-bottom: 20px;
      font-size: 20px;
      color: #2bcfc9;


    }

    .blogpage h4{
      font-family: 'Mulish', sans-serif;
      padding-bottom: 20px;
      font-size: 15px;
      color: #2bcfc9;
      


    }
 .blogpage h5{
      font-family: 'Mulish', sans-serif;
      padding-bottom: 10px;
      font-size: 20px;
      color: black;


    }

.blogpage p{
      font-family: 'Mulish', sans-serif;
      line-height: 35px;
   background-color: white;
 

    }
.blogpage p2{
      font-family: 'Mulish', sans-serif;
      font-size: 500;
  font-weight: 600;

    }


.responsive {
  max-width=5%;
       height=auto;
  padding-bottom: 30px;
  
}



#fixedbutton {
    position: fixed;
    bottom: 0px;
    right: 0px; 
}

.s-btn-team{
    	width: 125px;
    	height: 30px;
  margin: 15px;
  
      text-align: center;
    	border-radius: 20px;
      background-color: rgba(83, 90, 99, 0.7);
    	display: flex;
      justify-content: center;
      align-items: center;
    	font-size: 15px;
    	margin-top:10px;
      font-family: 'Roboto', sans-serif;
}

.blogpage img{
  
  width: 100%;
  height: auto;
  padding-bottom: 30px;
}