html{
  background-color: #f0f0f0;
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
nav{
  margin-bottom: 100px;
}


.topnav {
  overflow: hidden;
  background-color: #fafafa;
   position: fixed; /* Set the navbar to fixed position */
 top:0;
  width: 100%;
  z-index: 1000;
  
}

.topnav a {
  float: right;
  display: block;
  
  color: #4b4e54;
  text-align: center;
  padding: 17px 20px;
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
  font-size: 18px;
  
}


.topnav .icon {
  display: none;
}

.dropdown {
  float: right;
  font-family: 'Rubik', sans-serif;
  overflow: hidden;
  color: #4b4e54;
}
.logo{
  float: left;
}
.dropdown .dropbtn {
  font-size: 18px;   
  border: none;
  outline: none;
  color: #4b4e54;
  padding: 17px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  max-width: 300px;
  color: #4b4e54;
  z-index: 1000;
}

.dropdown-content a {
  float: none;
  color: black;
  color: #4b4e54;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
   text-decoration: none;
  color: #32b3a3;
}

.dropdown-content a:hover {
  text-decoration: none;
  color: #32b3a3;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 1000px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .logo {
    display: none;
  }
  

  .topnav a.icon {
    float: right;
    display: block;
  }
  

}

@media screen and (max-width: 1000px) {
  .topnav.responsive {position: fixed;}

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  
  .topnav{
    position: fixed;
  }
}





html{
  scroll-behavior: smooth;
}






/*--------------------------------------------------------------
# Calendar
--------------------------------------------------------------*/


.green {
	 background-color: #2ecc71;
}
 .turquoise {
	 background-color: #1abc9c;
}
 .navy {
	 background-color: #34495e;
}
 .blue {
	 background-color: #3498db;
}
 .purple {
	 background-color: #9b59b6;
}
 .grey {
	 background-color: #bdc3c7;
	 color: #202020;
}
 .gray {
	 background-color: #7f8c8d;
}
 .red {
	 background-color: #e74c3c;
}
 .orange {
	 background-color: #f39c12;
}
 .yellow {
	 background-color: #f1c40f;
	 color: #303030;
}
 .day-columns {
	 display: flex;
	 flex-direction: row;
	 flex-wrap: nowrap;
	 overflow-x: auto;
	 justify-content: center;
   
}
 .day-columns .day-column {
	 display: flex;
	 flex: 1;
	 flex-direction: column;
	 height: 400px;
	 min-width: 200px;
	 border: 1px solid #ebedf2;
	 border-left: none;
}
 .day-columns .day-column:first-child {
	 border-left: 1px solid #ebedf2;
}
 .day-columns .day-column .day-header {
	 border-bottom: 1px solid #ebedf2;
	 text-align: center;
	 padding: 5px;
	 color: #898b96;
}
 .day-columns .day-column .day-content {
	 flex-grow: 1;
	 flex-direction: column;
	 justify-content: flex-start;
	 padding: 5px;
	 overflow-y: auto;
}
 .day-columns .day-column .day-content .event {
	 display: flex;
	 flex-direction: column;
	 justify-content: flex-start;
	 margin-bottom: 5px;
	 border-radius: 5px;
	 padding: 3px;
	 color: white;
	 padding: 5px;
	 box-shadow: 0px 1px 15px 1px rgba(81, 77, 92, 0.08);
}
 .day-columns .day-column .day-content .event .title {
	 font-size: 12px;
}
 .day-columns .day-column .day-content .event footer {
	 display: flex;
	 flex-direction: row;
	 justify-content: space-evenly;
	 font-size: 11px;
}
 .day-columns .day-column .day-footer {
	 border-top: 1px solid #ebedf2;
	 padding: 5px;
	 text-align: center;
	 font-size: 13px;
	 color: #575962;
}
 .container {
	 margin-top: 20px;
}
 