body{
background: #f0f0f0;
  }
.countdownContainer{
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    background: #b2e6d4;
    border: 1px solid black; 
    padding:10px;
    box-shadow: 0 0 5px 3px #cccccc;
  }
.info{
    font-size: 80px;
  font-family: 'Roboto', sans-serif;
  color: #504136;
  }
