.counter-row { 
display: flex; 
justify-content: center; 
color: white; 
} 

.counter-column { 
float: left; 
width: 20%; 
padding: 10px; 
} 

.counter-row:after { 
content: ""; 
display: table; 
clear: both; 
} 

@media (max-width: 600px) { 
.counter-column { width: 100%; } 
} 

.counter-row span { display: none; font-weight: bold; }

.counter-row .counter-column:nth-child(2n+1) { 
background: pink !important; 
} 
.counter-row .counter-column:nth-child(2n) { 
background: pink !important; 
} 