@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Source+Sans+Pro:wght@300&family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');



* {
  box-sizing: border-box;
  margin: 0;
}

html {
    height: 100%;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.headspace img{
  width: 300px;
  padding-left: 70px;
  padding-bottom: 20px;
}

#colleft{
  height: 100vh;
  /*background: url("https://images.pexels.com/photos/3786157/pexels-photo-3786157.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");*/
  background-color: #3b3554;
  
}



.headspace{
  padding-top: 20%;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
  .column {
    width: 100%;
  }
  
  #colleft{
    height: 450px;
  }
  
  .headspace{
  padding-top: 0;
}
  .headspace img{
  width: 200px;

}
}



  #colleft h2{
    text-align: left;
      font-size: 40px;
    padding-left: 80px;
font-weight: bold;
    width: 700px;
    color: white;
 font-family: 'Mulish', sans-serif;    letter-spacing: .1px;

}

  #colleft p{
    text-align: left;
      font-size: 20px;
    padding-left: 80px;
    padding-top: 30px;
    color: #ced1db;
    font-family:  'Noto Sans', sans-serif;
    letter-spacing: .1px;

}


 .test2-btn{
    
    	border-radius: 10px;
   margin-left: 8%;
    	border:.15em solid #3b92e3;
      padding-top: 10px;
   padding-bottom: 10px;
   text-decoration: none;
   padding-left: 40%;
   padding-right: 40%;
    	color: #3b92e3;
  text-align: center;
      font-family: 'Rubik', sans-serif;
      
    }

.test2-btn:hover {
    background: #3b92e3;
    border: 1px solid #3b92e3;
    text-decoration: none;
  transition: all ease 0.3s;
    color: white;
  }


input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  font-family:  'Noto Sans', sans-serif;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-family:  'Noto Sans', sans-serif;
  font-size: 24px;
}

#rightcol{
  padding-top: 50px;
  background-color:#fafafa;
}
.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  font-family:  'Noto Sans', sans-serif;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

a {
  color: #2196F3;
  font-family:  'Noto Sans', sans-serif;
}

hr {
  border: 1px solid lightgrey;
  
}

span.price {
  float: right;
  color: grey;
}






/* ==================================================
      Accordion Content
================================================== */

.accordion1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-top: -100vh;
  padding-bottom: 10vh;
  font-family:  'Noto Sans', sans-serif;
  background-color: #5a115c;
}

h1 {
  text-align: center;
  margin: 2rem 0;
  font-family:  'Noto Sans', sans-serif;
  font-size: 2.5rem;

}

.accordion {
  width: 50%;
  max-width: 1000px;
  margin: 3rem auto;
  font-family:  'Noto Sans', sans-serif;
}
.accordion-item {
  background-color: #ececef;
  z-index: 500;
  font-family:  'Noto Sans', sans-serif;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
}
.accordion-head{
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
 font-weight: 500;
  display: flex;
  align-items: center;
  font-family:  'Noto Sans', sans-serif;
  position: relative;
  cursor: pointer;
}



.accordion-body {
  max-height: 0;
  overflow: hidden;
  font-family:  'Noto Sans', sans-serif;
  transition: max-height 0.5s ease-out;
}
.accordion-content {
  padding: 1rem;
  font-family:  'Noto Sans', sans-serif;
  line-height: 1.5rem;
  border-top: 1px solid;
}

@media(max-width:767px) {
  html {
    font-size: 14px;
  }
}




.payforms{
  padding-left: 110px;
  padding-right: 110px;
  font-family:  'Noto Sans', sans-serif;
  margin-bottom: 90px;
}

.paybot{
  padding-top: 25px;
     width: 100%;


}