@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@450&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Source+Sans+Pro:wght@300&family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 100vh; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
  
  #colleft h2{
    text-align: left;
      font-size: 50px;
    line-height: 25px;
    width: 90%;
    padding-left: 30px;
    padding-top: 30vh;
  color: white;
   font-family:  'Noto Sans', sans-serif;
    letter-spacing: .1px;
   line-height: 60px;
  }



#colleft{
  padding-bottom: 50px;
}


input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}






/* ==================================================
      Accordion Content
================================================== */

.accordion1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-top: -100vh;
  padding-bottom: 10vh;
  background-color: #5a115c;
}

h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;

}

.accordion {
  width: 50%;
  max-width: 1000px;
  margin: 3rem auto;
}
.accordion-item {
  background-color: #ececef;
  z-index: 500;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
}
.accordion-head{
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
 font-weight: 500;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}



.accordion-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}
.accordion-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
}

@media(max-width:767px) {
  html {
    font-size: 14px;
  }
}




.payforms{
  padding-left: 110px;
  padding-right: 110px;
  padding-top: 110px;
  padding-bottom: 50px;
}

.paybottom{
  background-color: #5a115c;
  height: 100px;
}