@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@450&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Source+Sans+Pro:wght@300&family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');




/*--------------------------------------------------------------
# Four Box Thing From MINT Website
--------------------------------------------------------------*/

body{
	height: 100vh;
	    font-family: 'Rubik', sans-serif;


	background: #2F3238;
}

.container{
	margin: 30px;
}

.row{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.image{
  background-image: linear-gradient(to bottom, rgba(22, 22, 22, 0.52), rgba(22, 22, 22, 0.73)),
    url('https://www.utmedicalcenter.org/wp-content/uploads/2021/01/1y1a9710-low.jpg');
  background-size: cover;
	position: relative;
	flex: 1;
  border-radius: 15px;
	max-width: 500px;
	height: 300px;
	margin: 20px;
	overflow: hidden;
}




.image .details{
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	width: 100%;
	height: 100%;
}

.image .details h2{
	text-align: left;
	font-size: 35px;
	font-weight: 300;
  margin: 30px 30px 0 30px;
	transition: 0.4s;
	transition-property: transform;
}

.image .details h4{
	text-align: left;
  text-transform: uppercase;
	font-size: 15px;
  color: #9ea8ba;
  margin: 50px 30px 0 30px;
  letter-spacing: 2px;
}

.image .details h2 span{
	font-weight: 900;
}

.image .details p{
	margin: 10px 30px 0 30px;
	font-size: 18px;
  font-family: 'Noto Sans', sans-serif;
	text-align: left;
  color: #bac0cc;

}

/* Responsive CSS */

@media (max-width: 1080px){
	.image{
		flex: 100%;
		max-width: 480px;
	}
}

}
      

















skills{
  background: #000016;
}

.skills .content{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-top: 20px;
}

.skills .content .col-left{
  position: relative;
  width: 46%;
}

.skills .content .col-left .content-title{
  margin-bottom: 20px;
}

.skills .content .col-right{
  position: relative;
  width: 46%;
}

.skills .content .col-right .bar{
  margin-bottom: 15px;
  padding: 10px;
}

.skills .content .col-right .bar .info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.skills .content .col-right .bar .info span{
  font-size: 18px;
  font-weight: 500;
}

.skills .content .col-right .bar .line{
  position: relative;
  width: 100%;
  height: 15px;
  background: #ccc;
  border-radius: 2px;
}

.skills .content .col-right .bar .line:before{
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 2px;
}

.skills .content .col-right .bar .html:before{
  width: 95%;
  background: #e45126;
}

.skills .content .col-right .bar .css:before{
  width: 90%;
  background: #0c73b8;
}

.skills .content .col-right .bar .javascript:before{
  width: 80%;
  background: #e3a324;
}

.skills .content .col-right .bar .jquery:before{
  width: 80%;
  background: #30dd6d;
}

.skills .content .col-right .bar .php:before{
  width: 75%;
  background: #6d7eb8;
}

.services .content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 20px;
}























.skill_row{
	background:lightgray;
	height:15px;
	border-radius: 2px;
	position: relative;
  padding-bottom: -10px;
}

#skill h2{
  font-size: 18px;
  padding-bottom: 8px;
  font-weight: 500;
}
.skill_view{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
  
	border-radius: 2px;
	z-index: 1;
	/*transition: all 0.8s ease-out;
	overflow: hidden;*/
}
.skill_value{
	position: absolute;
	left: 100%;
	bottom: 100%;
	transform: translateX(-60%);
	background-color: white;
	color: gray;
	line-height: 20px;
	padding: 0 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 700;

}
.skill_value:after{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -3px;
	border-top: 5px solid #080b77;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}
















html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

img {
  width: 100%;
  height: auto;
	padding: 5px;
}

h2 {
  text-align:center;
	padding-bottom: 1em;
}

.slick-dots {
	text-align: center;
  margin: 0 0 10px 0;
  padding: 0;
  li {
    display:inline-block;
    margin-left: 4px;
    margin-right: 4px;
    &.slick-active {
      button {
        background-color:black;
      }
    }
    button {
      font: 0/0 a;
      text-shadow: none;
      color: transparent;
      background-color:#999;
      border:none;
      width: 15px;
      height: 15px;
      border-radius:50%;
    }
		:hover{
			background-color: black;
		}
  }
}

/* Custom Arrow */
.prev{
	color: #999;
	position: absolute;
	top: 38%;
	left: -2em;
	font-size: 1.5em;
		:hover{
			cursor: pointer;
			color: black;
		}
}
.next{
	color: #999;
	position: absolute;
	top: 38%;
	right: -2em;
	font-size: 1.5em;
	:hover{
			cursor: pointer;
			color: black;
		}
}

@media screen and (max-width: 800px) {
    .next {
        display: none !important;
    }
}






























img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.wrapper {
  width: 100%;
  height: 100vh;
  min-height: 750px;
  background-color: gray;
  background-size: cover;
  position: relative;
  overflow: hidden;
  display: flex;
}
@media screen and (max-width: 992px) {
  .wrapper {
    height: auto;
    min-height: 100vh;
  }
}

.content {
  height: 600px;
  margin: auto;
  width: 100%;
  max-width: 1050px;
  display: flex;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .content {
    max-width: 920px;
  }
}
@media screen and (max-width: 992px) {
  .content {
    max-width: 920px;
    margin-top: 100px;
    height: auto;
    min-height: 100vh;
  }
}
@media screen and (max-width: 767px) {
  .content {
    margin-top: 20px;
  }
}
@media screen and (max-width: 576px) {
  .content {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.bg-shape {
  height: 100%;
  background-image: linear-gradient(-45deg, #142a59 0%, #183c87 100%);
  box-shadow: 0px 30px 139px 0px rgba(10, 22, 31, 0.26);
  border-radius: 30px;
  padding: 45px 40px;
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .bg-shape {
    width: 45%;
  }
}
@media screen and (max-width: 992px) {
  .bg-shape {
    width: 90%;
    height: 290px;
    align-items: flex-start;
    padding: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 767px) {
  .bg-shape {
    padding: 30px;
    width: 95%;
    border-radius: 20px;
  }
}
@media screen and (max-width: 576px) {
  .bg-shape {
    height: 200px;
    padding: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .bg-shape img {
    width: 430px;
    left: 10px;
  }
}
@media screen and (max-width: 992px) {
  .bg-shape img {
    transform: none;
    width: 100%;
    position: relative;
    left: auto;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    height: 100%;
    object-position: top center;
  }
}

.next, .prev {
  z-index: 22;
  display: inline-flex;
  border: none;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  position: absolute;
  top: 50%;
  outline: none;
  cursor: pointer;
  background-color: #e3e3e3;
}
.next:hover, .prev:hover {
  background-color: #fff;
}
.next.disabled, .prev.disabled {
  cursor: not-allowed;
  background-color: #e3e3e3;
  color: #a0a0a0;
}
.next:focus, .prev:focus {
  outline: none;
}
@media screen and (max-width: 992px) {
  .next, .prev {
    top: 170px;
  }
}

.prev {
  left: -30%;
  transform: translate(-100%, -50%);
}
@media screen and (max-width: 1200px) {
  .prev {
    left: -21%;
  }
}
@media screen and (max-width: 992px) {
  .prev {
    left: 0;
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 576px) {
  .prev {
    transform: translate(20%, -50%);
  }
}

.next {
  right: 0;
  transform: translate(50%, -50%);
}
@media screen and (max-width: 576px) {
  .next {
    transform: translate(-20%, -50%);
  }
}

.product-slider {
  width: 75%;
  height: 85%;
  border-radius: 30px;
  box-shadow: 0 28px 79px 0 rgba(10, 22, 31, 0.35);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
@media screen and (max-width: 1200px) {
  .product-slider {
    width: 80%;
  }
}
@media screen and (max-width: 992px) {
  .product-slider {
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    position: relative;
    top: 0;
    margin-top: 170px;
    margin-bottom: 100px;
  }
  .product-slider br {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .product-slider {
    border-radius: 20px;
  }
}
@media screen and (max-width: 576px) {
  .product-slider {
    width: 85%;
    margin-top: 130px;
  }
}
.product-slider__wrp {
  height: 100%;
}
.product-slider__item {
  position: relative;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .product-slider__item {
    height: auto;
  }
}
.product-slider__item.swiper-slide-active .product-slider__content > * {
  opacity: 1;
  transform: none;
}
.product-slider__item.swiper-slide-active .product-slider__content > *:nth-child(1) {
  transition-delay: 0s;
}
.product-slider__item.swiper-slide-active .product-slider__content > *:nth-child(2) {
  transition-delay: 0.2s;
}
.product-slider__item.swiper-slide-active .product-slider__content > *:nth-child(3) {
  transition-delay: 0.4s;
}
.product-slider__item.swiper-slide-active .product-slider__content > *:nth-child(4) {
  transition-delay: 0.6s;
}
.product-slider__item.swiper-slide-active .product-slider__content > *:nth-child(5) {
  transition-delay: 0.8s;
}
.product-slider__item.swiper-slide-active .product-slider__content > *:nth-child(6) {
  transition-delay: 1s;
}
.product-slider__item.swiper-slide-active .product-slider__content > *:nth-child(7) {
  transition-delay: 1.2s;
}
.product-slider__item.swiper-slide-active .product-slider__content > *:nth-child(8) {
  transition-delay: 1.4s;
}
.product-slider__item.swiper-slide-active .product-slider__content > *:nth-child(9) {
  transition-delay: 1.6s;
}
.product-slider__item.swiper-slide-active .product-slider__content > *:nth-child(10) {
  transition-delay: 1.8s;
}
.product-slider__item.swiper-slide-active .product-slider__content > *:nth-child(11) {
  transition-delay: 2s;
}
.product-slider__item.swiper-slide-active .product-slider__content > *:nth-child(12) {
  transition-delay: 2.2s;
}
.product-slider__item.swiper-slide-active .product-slider__content > *:nth-child(13) {
  transition-delay: 2.4s;
}
.product-slider__item.swiper-slide-active .product-slider__content > *:nth-child(14) {
  transition-delay: 2.6s;
}
.product-slider__item.swiper-slide-active .product-slider__content > *:nth-child(15) {
  transition-delay: 2.8s;
}
.product-slider__item.swiper-slide-active circle {
  animation: progress 1s ease-out forwards;
  animation-delay: .5s;
  opacity: 0.75;
}
.product-slider__card {
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  transition: all .5s;
  overflow: hidden;
  position: relative;
  border-radius: 30px;
}
@media screen and (max-width: 992px) {
  .product-slider__card {
    align-items: flex-start;
  }
}
@media screen and (max-width: 767px) {
  .product-slider__card {
    border-radius: 20px;
  }
}
.product-slider__cover {
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  background-color: #142a59;
}
@media screen and (max-width: 767px) {
  .product-slider__cover {
    border-radius: 20px;
  }
}
.product-slider__content {
  color: #fff;
  padding-top: 1px;
  position: relative;
  z-index: 2;
  width: 100%;
  padding-left: 250px;
  padding-right: 80px;
}
@media screen and (max-width: 1200px) {
  .product-slider__content {
    padding-left: 220px;
  }
}
@media screen and (max-width: 992px) {
  .product-slider__content {
    padding: 20px 60px 100px;
    padding-top: 280px;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .product-slider__content {
    padding: 20px 30px 50px;
    padding-top: 300px;
  }
}
@media screen and (max-width: 576px) {
  .product-slider__content {
    padding-top: 220px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.product-slider__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 36px;
  color: black;
  line-height: 1.2em;
  letter-spacing: 2px;
  opacity: 0;
  transform: translateY(55px);
  transition: all .5s;
}
@media screen and (max-width: 1200px) {
  .product-slider__title {
    font-size: 34px;
  }
}
@media screen and (max-width: 576px) {
  .product-slider__title {
    font-size: 24px;
  }
}
.product-slider__price {
  display: block;
  font-size: 28px;
  opacity: 0;
  color: black;
  transform: translateY(55px);
  transition: all .5s;
}
@media screen and (max-width: 1200px) {
  .product-slider__price {
    font-size: 36px;
  }
}
@media screen and (max-width: 576px) {
  .product-slider__price {
    font-size: 30px;
  }
}
.product-slider__price sup {
  top: -20px;
  font-size: 65%;
}
.product-slider__cart {
  box-shadow: 0 7px 99px 0 rgba(24, 60, 135, 0.6);
  background-image: linear-gradient(-45deg, #142a59 0%, #183c87 100%);
  border: none;
  color: #fff;
  padding: 10px 30px;
  border-radius: 50px;
  min-height: 50px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2px;
  margin-right: 40px;
  cursor: pointer;
  opacity: 0.7;
}
.product-slider__cart:hover {
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .product-slider__cart {
    margin-right: 30px;
  }
}
@media screen and (max-width: 576px) {
  .product-slider__cart {
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
}
.product-slider__fav {
  color: #888e94;
  background: none;
  border: none;
  position: relative;
  outline: none;
  cursor: pointer;
}
.product-slider__fav:focus {
  outline: none;
}
.product-slider__bottom {
  margin-top: 20px;
  opacity: 0;
  transform: translateY(55px);
  transition: all .5s;
}
.product-ctr {
  display: flex;
  align-items: center;
  min-height: 150px;
  margin-top: 40px;
  opacity: 0;
  transform: translateY(55px);
  transition: all .5s;
}
@media screen and (max-width: 992px) {
  .product-ctr {
    justify-content: center;
  }
}
.product-ctr .hr-vertical {
  width: 1px;
  background: #9fa3a7;
  align-self: stretch;
  margin: 0 35px;
  flex-shrink: 0;
  opacity: .5;
}
@media screen and (max-width: 767px) {
  .product-ctr {
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .product-ctr .hr-vertical {
    width: 100%;
    margin: 35px 0;
    height: 1px;
  }
}
@media screen and (max-width: 767px) {
  .product-labels {
    width: 100%;
  }
}
.product-labels__checkbox {
  display: none;
}
.product-labels__checkbox:checked + .product-labels__txt {
  border-color: #cc3743;
  padding: 10px 13px;
}
.product-labels__title {
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 16px;
  margin-bottom: 10px;
}
.product-labels__group {
  display: flex;
  margin-bottom: 15px;
}
@media screen and (max-width: 992px) {
  .product-labels__group {
    justify-content: center;
  }
}
.product-labels__group:last-child {
  margin-bottom: 0;
}
.product-labels__item {
  margin: 5px;
  cursor: pointer;
}
.product-labels__item:first-child {
  margin-left: 0;
}
.product-labels__txt {
  display: block;
  border: 2px solid transparent;
  font-size: 14px;
  padding: 10px 20px;
  padding-left: 0;
  border-radius: 50px;
  transition: all .3s;
  letter-spacing: 2px;
}
@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
.product-inf {
  text-align: center;
  display: grid;
}
@media screen and (max-width: 767px) {
  .product-inf {
    width: 100%;
  }
}
.product-inf__percent {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 1px;
  margin-bottom: 12px;
  font-family: 'Dosis', sans-serif;
  position: relative;
}
.product-inf__percent circle {
  transform: rotate(180deg) scaleY(-1);
  transform-origin: 50%;
}
.product-inf__percent-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product-inf__title {
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 18px;
}
.mini-image {
  width: 80px;
}
.product-img {
  position: absolute;
  z-index: 2;
  width: 500px;
  left: 25%;
  transform: translateX(-45%);
  max-height: 500px;
  height: 100%;
  pointer-events: none;
}

@media screen and (max-width: 1200px) {
  .product-img {
    width: 430px;
    left: 20%;
  }
}
@media screen and (max-width: 992px) {
  .product-img {
    width: 430px;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    height: 350px;
  }
}
@media screen and (max-width: 767px) {
  .product-img {
    width: 100%;
    max-width: 400px;
    top: 30px;
    height: 390px;
  }
}
@media screen and (max-width: 576px) {
  .product-img {
    max-width: 300px;
    height: 300px;
  }
}
.product-img__item {
  display: flex;
  align-items: center;
  position: absolute;
  pointer-events: none;
  user-select: none;
  top: 50%;
  right: 0;
  transform: translateY(-50%) translateX(-130px);
  opacity: 0;
  transition: all .3s;
}
.product-img__item.active {
  opacity: 1;
  transform: translateY(-50%) translateX(0);
  transition-delay: .3s;
}


.product-img__item img {
  object-fit: contain;
  object-position: center right;
  padding: 60px;
}

.social {
  position: absolute;
  bottom: 10px;
  right: 0;
  width: 100%;
  display: flex;
  padding: 20px 55px;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  .social {
    flex-direction: column;
    bottom: 0;
  }
}
.social__item {
  color: rgba(255, 255, 255, 0.75);
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1em;
  display: flex;
  align-items: center;
  transition: all .3s;
}
.social__item:hover {
  color: #fff;
}
@media screen and (max-width: 576px) {
  .social__item {
    margin-bottom: 10px;
  }
}
.social__img {
  width: 24px;
  margin-right: 15px;
}

.hidden {
  display: none;
}





