





img {
  width: 100%;
  height: auto;
	padding: 5px;
}

h2 {
  text-align:center;
	padding-bottom: 1em;
}

.slick-dots {
	text-align: center;
  margin: 0 0 10px 0;
  padding: 0;
  li {
    display:inline-block;
    margin-left: 4px;
    margin-right: 4px;
    &.slick-active {
      button {
        background-color:black;
      }
    }
    button {
      font: 0/0 a;
      text-shadow: none;
      color: transparent;
      background-color:#999;
      border:none;
      width: 15px;
      height: 15px;
      border-radius:50%;
    }
		:hover{
			background-color: black;
		}
  }
}

/* Custom Arrow */
.prev{
	color: #999;
	position: absolute;
	top: 38%;
	left: -2em;
	font-size: 1.5em;
		:hover{
			cursor: pointer;
			color: black;
		}
}
.next{
	color: #999;
	position: absolute;
	top: 38%;
	right: -2em;
	font-size: 1.5em;
	:hover{
			cursor: pointer;
			color: black;
		}
}

@media screen and (max-width: 800px) {
    .next {
        display: none !important;
    }
}


.card {
  overflow: hidden;
  box-shadow: 0 8px 12px 0 #f2f2f2;
  background: #f0f0f0;
  border: none;
  border-radius: 0.9rem;
  position: relative;
  width: 300px;
  margin: 0 auto;
  transition: 250ms all ease-in-out;
  cursor: pointer;
}



.card:hover {
  transform: scale(1.02);
  

}

.banner-img {
  position: absolute;
  object-fit: cover;
  height: 14rem;
  width: 100%;
}

.tag {
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  padding: 0.5rem 1.3rem 0.5rem 1rem;
  text-transform: uppercase;
  position: absolute;
  z-index: 1;
  top: 1rem;
  border-radius: 0 2rem 2rem 0;
}

.blog {
  background: #edab1c;
}

.news {
  background: #2bcfc9;
}



.card-body {
  margin: 15rem 1rem 1rem 1rem;

}

.hashtag {
  font-size: 0.9rem;
  font-weight: 500;
  font-family: 'Noto Sans', sans-serif;
  color: #2bcfc9;
}

.blog-title {
  line-height: 2rem;
  margin: 1rem 0 0.5rem;
}

#morelink{
  color: #2bcfc9;
  text-decoration: underline;
  font-family: 'Rubik', sans-serif;
}

#morelink:hover{
  color: blue;
  
}



.blog-description {
  color: #4b4e54;
  font-size: 0.9rem;
  padding-top: 20px;
  font-family: 'Noto Sans', sans-serif;
}



