@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@450&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Source+Sans+Pro:wght@300&family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


body{
  font-family: 'Rubik', sans-serif;
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: right;
  font-family: 'Rubik', sans-serif;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background: url("https://www.heart.org/-/media/images/news/2020/may-2020/0504coronavirushospitalsafety_sc.jpg") center center;
    background-size: cover;
    position: relative;
  }

  #hero .container {
    padding-top: 80px;
  }


  .custom-shape-divider-bottom-1609721473 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1609721473 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 224px;
}

.custom-shape-divider-bottom-1609721473 .shape-fill {
    fill: #fcfcfc;
}

  #hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    font-family: 'Rubik', sans-serif;
    font-weight: 200;
    color: #fff;
  }

  #hero h2 {
    color: #eee;
    margin-bottom: 40px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  .main-btn {
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
  }

   .main-btn:hover {
    background: #11dbcf;
    border: 2px solid #11dbcf;
    text-decoration: none;
    color:#fff;
  }

  /* ==================================================
    Services Section
    ================================================== */

    .services{
    	width:100%;
    	height: 120vh;
    	display: flex;
    	flex-direction: column;
      background-color: #fcfcfc;
    	justify-content: space-evenly;
    	align-items: center;
    }
    .s-heading{
    	text-align:center;
    }
    .s-heading h1{
    	color: #333436;
    	font-size: 3rem;
      font-family: 'Rubik', sans-serif;
    	letter-spacing: 1px;
    	margin-top: .3vh;
    }
    .s-heading p{
    	color: #333436;
    	font-size: 1rem;
      font-family: 'Rubik', sans-serif;
    	margin-top: 2em;
      margin-left: 20em;
      margin-right: 20em;
      line-height: 2em;
      color: #6e6d6d;
    	text-align: center;
    }
    .s-box-container{
    	width:100%;
    	display: flex;
    	justify-content: center;
    	align-items: center;
    }
    .s-box{
    	display:flex;
    	flex-direction: column;

    	border-radius: 10px;
    	width:300px;
    	padding: 30px 35px;
    	height: 530px;
    	box-sizing: border-box;
      background-color: white;
      border-radius: 30px 30px 30px 30px;
    	margin: 30px;
    	position: relative;
    }
    .s-box img{
    	height: 120px;
      width: 80px;
      padding-bottom: 10px;
    }
    .s-box h1{
    	color: #333436;
    	font-size: 1.5rem;
    	margin-bottom: 8px;
      text-align: left;
      font-family: 'Rubik', sans-serif;

    }
    .s-box p{
    	color: #333436;
    	text-align: left;
      font-family: 'Noto Sans', sans-serif;
      line-height: 2em;
      color: #6e6d6d;

      margin-top: 1em;
      font-size: .9em;
    }
    .s-btn{
    	width: 140px;
    	height: 40px;
    	border-radius: 20px;
    	border:.15em solid #3b92e3;
    	display: flex;
    	justify-content: center;
    	align-items: center;
    	color: #3b92e3;
    	margin-top:10px;
      font-family: 'Rubik', sans-serif;
    }
    .bar{
    	width: 100px;
    	height: 6px;
    	position: absolute;
    	left: 50%;
    	top: 0%;
    	transform: translateX(-50%);
    	background-color:#4a90e2;
    	border-radius: 50px 50px 50px 50px;
    	display: none;
    	animation: bar 0.5s;
    }
    .s-box:hover{
    	box-shadow: 2px 2px 30px rgba(0,0,0,0.08);
    	transition: all ease 0.3s;
    }
    .s-btn:hover{
    	background-color:#4a90e2;
    	border: 1px solid #4a90e2;
    	color:#FFFFFF;
    	transition: all ease 0.3s;
    }
    .s-box:hover .bar{
    	display: block;
    }
    @keyframes bar{
    	0%{
    		width:0px;
    	}
    	100%{
    		width:100px;
    	}
    }
    @media(max-width:1050px){
    	.s-box-container{
    		flex-wrap: wrap;

    	}
    	.services{
    		height: auto;
    	}
    	.s-heading{
    		margin: 15px;
    	}
    	.s-box{
    		flex-grow: 1;
    	}

    }


/* ==================================================
      Services Details Section
================================================== */

#servicedetails{
  background-color: #fcfcfc;
  padding-top: 15vh;
}

#authentictext .smallblurb{
  letter-spacing: .2em;
  color: #eda137;
}

#authentictext{
  display: block;
  text-align: center;

  grid-area: content;
  padding-left: 30vh;
  padding-right: 10vh;
  text-align: left;
  align-self: center;

}



#authentictext h2{
  padding-bottom: 10px;
  font-weight:600;
  font-family: 'Rubik', sans-serif;
}

#authentictext p{
  font-family: 'Noto Sans', sans-serif;
  line-height: 2em;
  color: #6e6d6d;

}

#left img{
  width: 100%;
  margin-left: 0px;
}


@media (max-width: 1200px) {
  h2::before{
    content: none;
  }

  #left{
    display: none;
  }

  #authentictext{
    padding-top: 40px;
    text-align: center;
  }

}

.content-table {
  border-collapse: collapse;
  margin-left: 300px;
  width: 300px;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;

}


.content-table td {
  padding: 20px 15px;

}


.content-table2 {
  border-collapse: collapse;
  margin-left: 60px;
  width: 300px;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}


.content-table2 td {
  padding: 20px 15px;

}

.content-table3 {
  border-collapse: collapse;
  margin-left: 60px;
  width: 300px;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}


.content-table3 td {
  padding: 20px 15px;

}

#tables{
  padding-top: 50px;
  margin-left: 130px;
  margin-right: 50px;
}

#tables img{
  width:80px;
}


/* ==================================================
      Pricing
================================================== */

.pricing {
  box-sizing: border-box;
  margin-left: 180px;
  font-family: 'Rubik', sans-serif;
  
}

.columns {
  float: left;
  width: 28%;
  padding: 25px;

}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  border-radius: 25px;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
  background-color: white;
  color: #ffb638;
  

  font-weight: 700;
  letter-spacing: 2px;
  font-size: 20px;
  text-align: left;
  padding-top: 25px;

}

.price .price-info {
  padding-top: 50px;
  text-align: left;
  margin-left:45px;
  font-family: 'Noto Sans', sans-serif;
  color: #707070;
  font-size: 15px;
 
}

.price .smallprice {
  border-bottom: 1px solid #eee; 
  margin-left: 30px;
  margin-top:15px;
}

.mini {
  font-size: 15px;
  color:#c2c2c2;
  
}
.price .grey {
  font-size: 60px;
  text-align: left;
  margin-top: 10px;
}

.button {
  background-color: #fff2de;
  border: none;
  color: #ffb33d;
  font-family: 'Noto Sans', sans-serif;
  border-radius: 5px;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin-top:40px;
  margin-bottom:30px;
  margin-left:80px;
}


/* ==================================================
      Services Double Column Section
================================================== */

#doubleservices{
  background-color: #fcfcfc;
  padding-top: 100px;
}

#authentictext2 .smallblurb{
  letter-spacing: .2em;
  color: #eda137;
}

#authentictext2{
  display: block;
  text-align: center;

  grid-area: content;
  padding-left: 30vh;
  padding-right: 10vh;
  text-align: left;
  align-self: center;

}

#authentictext2 h2{
  padding-bottom: 10px;
  font-family: 'Rubik', sans-serif;
  font-size: 40px;
  color: #333333;
}

#authentictext2 p{
  font-family: 'Noto Sans', sans-serif;
  line-height: 2em;
  color: #6e6d6d;

}

#left2 img{
  width: 60%;
  margin-left: 1000px;
  position: relative; 
  top: -400px;
  
}



@media (max-width: 1200px) {
  h2::before{
    content: none;
  }

  #left2{
    display: none;
  }

  #authentictext{
    padding-top: 40px;
    text-align: center;
  }

}

.content-table4 {
  border-collapse: collapse;
  width: 650px;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;

}


.content-table4 td {
  padding: 24px 15px;
  font-family: 'Noto Sans', sans-serif;
  line-height: 2em;
  color: #6e6d6d;
  font-size: 15px;
  

}


.content-table4 td h1 {
  font-family: 'Rubik', sans-serif;
  line-height: 1em;
  color: #333333;
  font-size: 22px;
  letter-spacing: 1px;

}


#tablesinfo{
  padding-top: 10px;
  margin-left: -20px;

}

#tablesinfo img{
  width:70px;
  margin-bottom:30px;
}



/* ==================================================
      Accordion Content
================================================== */

.accordion1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 100px;
}

h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
}

.accordion {
  width: 50%;
  max-width: 1000px;
  margin: 2rem auto;
}
.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.accordion-head{
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-head::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}
.accordionhead.active::after {
  content: "\2212";
}
.accordion-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

@media(max-width:767px) {
  html {
    font-size: 14px;
  }
}




/* ==================================================
      Video Information Section
================================================== */

.videoinfo{
  background-color: #fcfcfc;
  padding-top: 100px;
  padding-bottom: 100px;
}

#videoitem{
  background-color: #fcfcfc;
  margin-left: 120px;
  margin-top: 15px;
}

#video-blurb{
  text-align: center;
}

#video-blurb h2{
  font-family: 'Rubik', sans-serif;
  font-size: 40px;
  font-weight: 600;
}

#video-blurb p{
  font-size: 17px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 20px;
  line-height:35px;
  font-family: 'Noto Sans', sans-serif;
} 



.video-table{
  background: white;
  
  border-radius: 14px;

  width: 50%;
  max-width: 1000px;
  margin: 25px;
}

#video-vid iframe{
  
 
  position: relative; 
  margin-left: -250px;
  margin-top: 40px;
  border-radius: 14px;
 
  
}




.video-table td {
  padding: 24px 15px;
  font-family: 'Noto Sans', sans-serif;
  line-height: 2em;
  color: #6e6d6d;
  font-size: 14px;
  

}


.video-table td h1 {
  font-family: 'Rubik', sans-serif;
  line-height: 1em;
  color: #eda318;
  font-size: 17px;
  letter-spacing: 1px;

}


.video-table img{
  width: 75px;
  margin-bottom:30px;
}




/* ==================================================
      SVG Content
================================================== */

.svghead{
  background-color: #fcfcfc;
}

.svghead #one {
    position: absolute;
    z-index: -1;
    
  margin-top: 345.4px;
  transform: scaleY(-1);
  
}

.svghead h2{
  position: absolute;
  padding-top: 470px;
  z-index:10;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-size:45px;
  text-shadow: 2px 2px 20px #000000;
  margin: auto;
  margin-left: 200px;
}



/* ==================================================
      Testimonials
================================================== */

.testimonials{
  margin-top: 500px;
  background-color: #fcfcfc;
  
}

.testimonials .container {
  width: 80%;
  margin:20px auto;

}
.testimonials .carousel {

  height: 400px;
  overflow: hidden;
  position: relative;
  border-radius: 25px;
  background: #fff;
 box-shadow:
  0 2.8px 2.2px rgba(242,242,242,1),
  0 6.7px 5.3px rgba(242,242,242,1),
  0 12.5px 10px rgba(242,242,242,1),
  0 22.3px 17.9px rgba(242,242,242,1),
  0 41.8px 33.4px rgba(242,242,242,1),
  0 100px 80px rgba(242,242,242,1);
}

.testimonials .slider {
  display: flex;
  height: 100%;
  width: 400%;
}

.testimonials .slider h2 {
  width: 60%;
  text-align: center;
  color: #28498a;
  font-family: 'Rubik', sans-serif;
}

.testimonials .slider p {
  width: 100%;
  text-align: center;
  color: #28498a;
  font-family: 'Rubik', sans-serif;
}

.testimonials .slider section {
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 20px;
}
.testimonials .left, .right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.testimonials .arrow i {
  font-size: 70px;
  -webkit-user-select: none;
  color: #416be4;
}
.testimonials .left {
  left: 10px;
}
.testimonials .right {
  right: 10px;
}
.testimonials .control ul {
  list-style: none;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%);
}
.testimonials .control ul li {
  width: 10px;
  height: 10px;
  background: #333;
  border: 2px solid #333;
  border-radius: 50px;
  margin: 10px;
  cursor: pointer;
}
.testimonials .control ul li.selected {
  background: transparent;
}